<a href="https://colab.research.google.com/github/mariyagolchin/Deep-Learning-in-Keras/blob/main/Deep_Learning_in_Keras_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Deep Learning in Keras Tutorial

In [1]:
# This notebook goes along with the Deep Learning using Keras tutorial on Medium.

import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from keras.callbacks import EarlyStopping
from keras.utils import to_categorical

In [2]:
#read in training data
train_df = pd.read_csv('/content/drive/MyDrive/Deep-Learning-in-Keras-Tutorial-master/data/hourly_wages_data.csv')

#view data structure
train_df.head()

   wage_per_hour  union  education_yrs  ...  south  manufacturing  construction
0           5.10      0              8  ...      0              1             0
1           4.95      0              9  ...      0              1             0
2           6.67      0             12  ...      0              1             0
3           4.00      0             12  ...      0              0             0
4           7.50      0             12  ...      0              0             0

[5 rows x 10 columns]

In [3]:
#create a dataframe with all training data except the target column
train_X = train_df.drop(columns=['wage_per_hour'])

#check that the target variable has been removed
train_X.head()

   union  education_yrs  experience_yrs  ...  south  manufacturing  construction
0      0              8              21  ...      0              1             0
1      0              9              42  ...      0              1             0
2      0             12               1  ...      0              1             0
3      0             12               4  ...      0              0             0
4      0             12              17  ...      0              0             0

[5 rows x 9 columns]

In [4]:
#create a dataframe with only the target column
train_y = train_df[['wage_per_hour']]

#view dataframe
train_y.head()

   wage_per_hour
0           5.10
1           4.95
2           6.67
3           4.00
4           7.50

In [6]:
#create model
model = Sequential()

#get number of columns in training data
n_cols = train_X.shape[1]

#add model layers
model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
model.add(Dense(10, activation='relu'))
model.add(Dense(1))

#compile model using mse as a measure of model performance
model.compile(optimizer='adam', loss='mean_squared_error')

#set early stopping monitor so the model stops training when it won't improve anymore
early_stopping_monitor = EarlyStopping(patience=3)

In [7]:
#train model
model.fit(train_X, train_y, validation_split=0.2, epochs=30, callbacks=[early_stopping_monitor])

Epoch 1/30
14/14 [==============================] - 1s 32ms/step - loss: 185.6068 - val_loss: 214.8063
Epoch 2/30
14/14 [==============================] - 0s 4ms/step - loss: 116.1056 - val_loss: 155.1659
Epoch 3/30
14/14 [==============================] - 0s 4ms/step - loss: 73.6829 - val_loss: 123.5110
Epoch 4/30
14/14 [==============================] - 0s 4ms/step - loss: 59.0726 - val_loss: 101.8606
Epoch 5/30
14/14 [==============================] - 0s 3ms/step - loss: 53.2754 - val_loss: 85.5540
Epoch 6/30
14/14 [==============================] - 0s 3ms/step - loss: 36.4828 - val_loss: 73.3359
Epoch 7/30
14/14 [==============================] - 0s 4ms/step - loss: 27.2178 - val_loss: 64.1036
Epoch 8/30
14/14 [==============================] - 0s 3ms/step - loss: 31.3125 - val_loss: 57.2124
Epoch 9/30
14/14 [==============================] - 0s 4ms/step - loss: 32.7625 - val_loss: 51.9306
Epoch 10/30
14/14 [==============================] - 0s 3ms/step - loss: 24.1155 - val_loss: 48.3709
Epoch 11/30
14/14 [==============================] - 0s 4ms/step - loss: 20.2316 - val_loss: 45.9639
Epoch 12/30
14/14 [==============================] - 0s 4ms/step - loss: 19.9070 - val_loss: 44.0605
Epoch 13/30
14/14 [==============================] - 0s 3ms/step - loss: 28.3252 - val_loss: 41.3546
Epoch 14/30
14/14 [==============================] - 0s 4ms/step - loss: 20.4585 - val_loss: 38.7194
Epoch 15/30
14/14 [==============================] - 0s 3ms/step - loss: 18.4326 - val_loss: 36.9399
Epoch 16/30
14/14 [==============================] - 0s 4ms/step - loss: 19.2343 - val_loss: 34.2119
Epoch 17/30
14/14 [==============================] - 0s 4ms/step - loss: 18.2595 - val_loss: 33.8561
Epoch 18/30
14/14 [==============================] - 0s 4ms/step - loss: 22.9689 - val_loss: 32.8922
Epoch 19/30
14/14 [==============================] - 0s 4ms/step - loss: 17.2595 - val_loss: 32.9807
Epoch 20/30
14/14 [==============================] - 0s 4ms/step - loss: 21.8627 - val_loss: 32.6028
Epoch 21/30
14/14 [==============================] - 0s 4ms/step - loss: 26.7992 - val_loss: 32.3550
Epoch 22/30
14/14 [==============================] - 0s 4ms/step - loss: 18.7060 - val_loss: 32.9919
Epoch 23/30
14/14 [==============================] - 0s 4ms/step - loss: 21.9084 - val_loss: 32.0840
Epoch 24/30
14/14 [==============================] - 0s 3ms/step - loss: 18.1477 - val_loss: 32.0142
Epoch 25/30
14/14 [==============================] - 0s 3ms/step - loss: 19.0446 - val_loss: 31.3934
Epoch 26/30
14/14 [==============================] - 0s 4ms/step - loss: 15.7967 - val_loss: 31.5457
Epoch 27/30
14/14 [==============================] - 0s 3ms/step - loss: 22.4522 - val_loss: 31.6029
Epoch 28/30
14/14 [==============================] - 0s 3ms/step - loss: 20.8347 - val_loss: 31.5679

In [9]:
#training a new model on the same data to show the effect of increasing model capacity

#create model
model_mc = Sequential()

#add model layers
model_mc.add(Dense(200, activation='relu', input_shape=(n_cols,)))
model_mc.add(Dense(200, activation='relu'))
model_mc.add(Dense(200, activation='relu'))
model_mc.add(Dense(1))

#compile model using mse as a measure of model performance
model_mc.compile(optimizer='adam', loss='mean_squared_error')

In [10]:
#train model
model_mc.fit(train_X, train_y, validation_split=0.2, epochs=30, callbacks=[early_stopping_monitor])

Epoch 1/30
14/14 [==============================] - 0s 14ms/step - loss: 102.6020 - val_loss: 59.2184
Epoch 2/30
14/14 [==============================] - 0s 5ms/step - loss: 25.7621 - val_loss: 41.0236
Epoch 3/30
14/14 [==============================] - 0s 5ms/step - loss: 24.8361 - val_loss: 34.1035
Epoch 4/30
14/14 [==============================] - 0s 4ms/step - loss: 19.7901 - val_loss: 30.1501
Epoch 5/30
14/14 [==============================] - 0s 4ms/step - loss: 26.1561 - val_loss: 29.3225
Epoch 6/30
14/14 [==============================] - 0s 4ms/step - loss: 19.8261 - val_loss: 31.2870
Epoch 7/30
14/14 [==============================] - 0s 5ms/step - loss: 20.2026 - val_loss: 29.7713
Epoch 8/30
14/14 [==============================] - 0s 4ms/step - loss: 15.3796 - val_loss: 27.9172
Epoch 9/30
14/14 [==============================] - 0s 4ms/step - loss: 23.7140 - val_loss: 29.6918
Epoch 10/30
14/14 [==============================] - 0s 4ms/step - loss: 19.3927 - val_loss: 33.1678
Epoch 11/30
14/14 [==============================] - 0s 4ms/step - loss: 19.5572 - val_loss: 27.9480

In [12]:
# For this next model, we are going to predict if patients have diabetes or not.

#read in training data
train_df_2 = pd.read_csv('/content/drive/MyDrive/Deep-Learning-in-Keras-Tutorial-master/data/diabetes_data.csv')

#view data structure
train_df_2.head()

   pregnancies  glucose  diastolic  triceps  ...   bmi    dpf  age  diabetes
0            6      148         72       35  ...  33.6  0.627   50         1
1            1       85         66       29  ...  26.6  0.351   31         0
2            8      183         64        0  ...  23.3  0.672   32         1
3            1       89         66       23  ...  28.1  0.167   21         0
4            0      137         40       35  ...  43.1  2.288   33         1

[5 rows x 9 columns]

In [13]:
#create a dataframe with all training data except the target column
train_X_2 = train_df_2.drop(columns=['diabetes'])

#check that the target variable has been removed
train_X_2.head()

   pregnancies  glucose  diastolic  triceps  insulin   bmi    dpf  age
0            6      148         72       35        0  33.6  0.627   50
1            1       85         66       29        0  26.6  0.351   31
2            8      183         64        0        0  23.3  0.672   32
3            1       89         66       23       94  28.1  0.167   21
4            0      137         40       35      168  43.1  2.288   33

In [14]:
#one-hot encode target column
train_y_2 = to_categorical(train_df_2.diabetes)

#vcheck that target column has been converted
train_y_2[0:5]

array([[0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.]], dtype=float32)

In [15]:
#create model
model_2 = Sequential()

#get number of columns in training data
n_cols_2 = train_X_2.shape[1]

#add layers to model
model_2.add(Dense(250, activation='relu', input_shape=(n_cols_2,)))
model_2.add(Dense(250, activation='relu'))
model_2.add(Dense(250, activation='relu'))
model_2.add(Dense(2, activation='softmax'))

#compile model using accuracy to measure model performance
model_2.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [18]:
#train model
model_2.fit(train_X_2, train_y_2, epochs=30, validation_split=0.2, callbacks=[early_stopping_monitor])

Epoch 1/30
20/20 [==============================] - 1s 12ms/step - loss: 4.3358 - accuracy: 0.5427 - val_loss: 1.2763 - val_accuracy: 0.5519
Epoch 2/30
20/20 [==============================] - 0s 4ms/step - loss: 0.7502 - accuracy: 0.6871 - val_loss: 0.7375 - val_accuracy: 0.5714
Epoch 3/30
20/20 [==============================] - 0s 5ms/step - loss: 0.7630 - accuracy: 0.6683 - val_loss: 0.7228 - val_accuracy: 0.6364
Epoch 4/30
20/20 [==============================] - 0s 4ms/step - loss: 0.6549 - accuracy: 0.6884 - val_loss: 0.9146 - val_accuracy: 0.5584
Epoch 5/30
20/20 [==============================] - 0s 5ms/step - loss: 0.6202 - accuracy: 0.7000 - val_loss: 0.6395 - val_accuracy: 0.6688
Epoch 6/30
20/20 [==============================] - 0s 4ms/step - loss: 0.6425 - accuracy: 0.6762 - val_loss: 0.6741 - val_accuracy: 0.6494
Epoch 7/30
20/20 [==============================] - 0s 4ms/step - loss: 0.7547 - accuracy: 0.6720 - val_loss: 0.8278 - val_accuracy: 0.5325
Epoch 8/30
20/20 [==============================] - 0s 4ms/step - loss: 0.7753 - accuracy: 0.6508 - val_loss: 0.7938 - val_accuracy: 0.6234